/*
Version: 3.3.2 Timestamp: Mon Mar 25 12:14:18 PDT 2013
*/
.select3-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    margin-bottom: 5px;
}

.select3-container,
.select3-drop,
.select3-search,
.select3-search input{
    /*
      Force border-box so that % widths fit the parent
      container without overlap because of margin/padding.

      More Info : http://www.quirksmode.org/styles/box.html
    */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box; /* konqueror */
    -moz-box-sizing: border-box; /* firefox */
    -ms-box-sizing: border-box; /* ie */
    box-sizing: border-box; /* css3 */
}

.select3-container .select3-choice {
    display: block;
    height: 28px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #C0CAD5;
    white-space: nowrap;
    line-height: 28px;
    color: #444;
    text-decoration: none;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #fff;
}

.select3-container.select3-drop-above .select3-choice {
    border-bottom-color: #C0CAD5;
}

.select3-container .select3-choice span {
    margin-right: 28px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.select3-container .select3-choice abbr {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 26px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('/admin/images/select2/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select3-container .select3-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select3-drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* works in IE 8 */
    filter: "alpha(opacity=0)"; /* expected to work in IE 8 */
    filter: alpha(opacity=0); /* IE 4-7 */
}

.select3-drop {
    width: 100%;
    margin-top:-1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #C0CAD5;
    border-top: 0;

}

.select3-drop.select3-drop-above {
    margin-top: 1px;
    border-top: 1px solid #C0CAD5;
    border-bottom: 0;
}

.select3-container .select3-choice div {
    display: block;
    width: 24px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #C0CAD5;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    background: #F0F1F2;
}

.select3-container .select3-choice div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('/admin/images/select2/select2.png') no-repeat 4px 2px;
}

.select3-search {
    display: inline-block;
    width: 100%;
    min-height: 28px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select3-search-hidden {
    display: block;
    position: absolute;
    left: -10000px;
}

.select3-search input {
    width: 100%;
    height: auto !important;
    min-height: 28px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: #fff url('/admin/images/select2/select2.png') no-repeat 100% -22px;
    background: url('/admin/images/select2/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('/admin/images/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select3-drop.select3-drop-above .select3-search input {
    margin-top: 4px !important;
}

.select3-search input.select3-active {
    background: #fff url('/admin/images/select2/select2-spinner.gif') no-repeat 100%;
    background: url('/admin/images/select2/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('/admin/images/select2/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('/admin/images/select2/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.select3-container-active .select3-choice,
.select3-container-active .select3-choices {
    border: 1px solid #C0CAD5;
    outline: none;
}

.select3-dropdown-open .select3-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;

    background-color: #F0F1F2;
}

.select3-dropdown-open .select3-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select3-dropdown-open .select3-choice div b {
    background-position: -14px 2px;
}

/* results */
.select3-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select3-results ul.select3-result-sub {
    margin: 0;
}

.select3-results ul.select3-result-sub > li .select3-result-label { padding-left: 20px }
.select3-results ul.select3-result-sub ul.select3-result-sub > li .select3-result-label { padding-left: 40px }
.select3-results ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub > li .select3-result-label { padding-left: 60px }
.select3-results ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub > li .select3-result-label { padding-left: 80px }
.select3-results ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub > li .select3-result-label { padding-left: 100px }
.select3-results ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub > li .select3-result-label { padding-left: 110px }
.select3-results ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub ul.select3-result-sub > li .select3-result-label { padding-left: 120px }

.select3-results li {
    list-style: none;
    display: list-item;
    background-image: none;

}

.select3-results li.select3-result-with-children > .select3-result-label {
    font-weight: bold;
}

.select3-results .select3-result-label {
    padding: 6px 7px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select3-results .select3-highlighted {
    background: #F0F1F2;
    color: #000;
}

.select3-results li em {
    background: #feffde;
    font-style: normal;
}

.select3-results .select3-highlighted em {
    background: transparent;
}

.select3-results .select3-highlighted ul {
    background: white;
    color: #000;
}


.select3-results .select3-no-results,
.select3-results .select3-searching,
.select3-results .select3-selection-limit {
    background: #f4f4f4;
    display: list-item;
    line-height: 20px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select3-results .select3-disabled.select3-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select3-results .select3-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select3-results .select3-selected {
    display: none;
}

.select3-more-results.select3-active {
    background: #f4f4f4 url('/admin/images/select2/select2-spinner.gif') no-repeat 100%;
}

.select3-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select3-container.select3-container-disabled .select3-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select3-container.select3-container-disabled .select3-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select3-container.select3-container-disabled .select3-choice abbr {
    display: none
}


/* multiselect */

.select3-container-multi .select3-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;

    border: 1px solid #C0CAD5;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
}

.select3-locked {
    padding: 3px 5px 3px 5px !important;
}

.select3-container-multi .select3-choices {
    min-height: 26px;
}

.select3-container-multi.select3-container-active .select3-choices {
    border: 1px solid #C0CAD5;
    outline: none;
}
.select3-container-multi .select3-choices li {
    float: left;
    list-style: none;
}
.select3-container-multi .select3-choices .select3-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select3-container-multi .select3-choices .select3-search-field input {
    padding: 4px;
    margin: 0px !important;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}

.select3-container-multi .select3-choices .select3-search-field input.select3-active {
    background: #fff url('/admin/images/select2/select2-spinner.gif') no-repeat 100% !important;
}

.select3-default {
    color: #999 !important;
}

.select3-container-multi .select3-choices .select3-search-choice {
    padding: 3px 18px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;

    cursor: default;
    border: 1px solid #a5d24a;
    background: #cde69c;
    color: #638421;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select3-container-multi .select3-choices .select3-search-choice span {
    cursor: default;
}
.select3-container-multi .select3-choices .select3-search-choice-focus {
    background: #d4d4d4;
}

.select3-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 3px;

    font-size: 1px;
    outline: none;
    background: url('/admin/images/select2/select2.png') right top no-repeat;
}

.select3-container-multi .select3-search-choice-close {
    right: 3px;
}

.select3-container-multi .select3-choices .select3-search-choice .select3-search-choice-close:hover {
    background-position: right -11px;
}
.select3-container-multi .select3-choices .select3-search-choice-focus .select3-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select3-container-multi.select3-container-disabled .select3-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select3-container-multi.select3-container-disabled .select3-choices .select3-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select3-container-multi.select3-container-disabled .select3-choices .select3-search-choice .select3-search-choice-close {
    display: none;
}
/* end multiselect */


.select3-result-selectable .select3-match,
.select3-result-unselectable .select3-match {
    text-decoration: underline;
}

.select3-offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
    .select3-search input, .select3-search-choice-close, .select3-container .select3-choice abbr, .select3-container .select3-choice div b {
        background-image: url('/admin/images/select2/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }
    .select3-search input {
        background-position: 100% -21px !important;
    }
}
