
/* =========== [ 1. LAYOUT, GENERAL ] =========== */

html {
    font-size: 75%;
}

form, fieldset, input, textarea, img {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

body {
    margin: 0;
    background: #f7f6f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

a, a:link, a:visited {
    color: #067ab4;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul, dl {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

li {
    display: block;
}

.clear {
    clear: both;
}

.rating .average, .rating .user, .rating .user li {
    position: absolute;
    top: 0;
    left: 0;
}

.clearfix:after, .panel:after, .section:after, .row:after, #canvas:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* =========== [ 2. HEADER NAVIGATION ] =========== */

#global-header {
    position: fixed;
    z-index: 1100;
    width: 100%;
    top: 0;
    left: 0;
}

.header-navigation {
    position: relative;
    z-index: 99;
    padding: 2px 0;
    background: #272e38;
    color: #FFF;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Tahoma,Geneva,Arial,sans-serif;
}

.header-navigation a {
    font-weight: normal;
    color: #FFF;
}

.header-navigation .panel {
    width: 980px;
    margin: 0 auto;
}

.header-navigation .nav-links {
    float: left;
    margin: 5px 0;
    font-size: 1.083em;
    line-height: 1;
}

.header-navigation .nav-links li {
    float: left;
    margin-left: .75em;
    padding-left: .75em;
    border-left: 1px solid #979797;
}

.header-navigation .nav-links li:first-child {
    border-left: 0;
}

#about-us-link {
    float: right;
    margin-top: .8ex;
}

#about-us-link a {
    font-size: 1.083em;
    line-height: 1;
}

#advertise-link a {
    color: #ffc200;
    font-weight: bold;
}

/* =========== [ 3. HEADER PANEL ] =========== */

.header-panel {
    position: relative;
    z-index: 9;
    padding: 1ex 0;
    height: 51px;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA/CAYAAAAhZaJUAAAAdUlEQVQYlW2PPQ6DMAxGn2x2tg7lNtyniIN26jEyNGuGyl8HQmkCi+Xvx9Izj2V9WUppMCRMgAH8yy4ATBFnT6rjkDUVFqG2HJi0p3XrgqvbX3mj0qmsOHDVonVeQ4/2j6b7lD3n99NLKbNHxM2B0QEc+CCJLwKDWSqeDm3QAAAAAElFTkSuQmCC") repeat-x;
}

.header-panel .panel {
    width: 664px;
    margin: 0 auto;
}

.header-branding {
    float: left;
    margin-right: 1.7em;
}

.header-branding .yp-logo {
    display: block;
    overflow: hidden;
    text-indent: 101%;
    background: url('/images/sprites/layout.png') no-repeat 0px -1207px;
    width: 45px;
    height: 44px;
}

.header-search {
    float: left;
    margin-top: 1.3ex;
}


/* =========== [ 4. SEARCH FORM ] =========== */

.search-form .near {
    font-size: 1.167em;
    color: #ddd;
}

.search-form .label, .search-form .near {
    margin-right: .458em;
    display: inline-block;
}

.search-form .label {
    position: relative;
}

.search-form .label, .search-form .near, .search-form input {
    vertical-align: middle;
}

#search-submit {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    margin: 0 0 0 .5em;
    padding: 0;
    border: 0;
    text-align: left;
    text-indent: 101%;
    text-transform: capitalize;
    background: url('/images/sprites/layout.png') no-repeat 0px -816px;
    width: 55px;
    height: 30px;
}

.search-form input[type=text] {
    width: 214px;
    margin: 0;
    border: 1px solid #DDD;
    border-color: #9b9b9b #ededed #DDD #c2c2c2;
    padding: 1ex 1em .8ex;
}

/* =========== [ 5. LAYOUT ] =========== */

#layout {
    padding-top: 98px;
}

#container {
    width: 991px;
    margin: 0 auto;
    text-align: left;
}

#canvas {
    min-height: 250px;
    margin: 10px 0 0;
    padding: 12px;
    border: 1px solid #CCC;
    text-align: left;
    background: #FFF;
}

#canvas #left-column {
    float: left;
    width: 740px;
}

#canvas #right-column {
    width: 220px;
    float: right;
}

#top-nav {
    padding: 0 0 2.25ex;
}

.user-avatar {
    position: relative;
    float: left;
    padding: 3px;
    max-width: 58px;
    background: #fff;
    margin-right: 8px;
    border: 1px solid #e6e5e5;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.interest-based-ad {
    margin-bottom: 20px;
    padding: 3px;
    background-color: #ddd;
    font-size: 10px;
}

.raquo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 0em;
}

/* =========== [ 6. FOOTER ] =========== */

#global-footer {
    clear: both;
    padding: 30px 0;
    border-top: 1px solid #a8a7a3;
    -moz-box-shadow: 0 1px 0 white inset;
    -webkit-box-shadow: 0 1px 0 white inset;
    box-shadow: 0 1px 0 white inset;
    font-size: .866em;
    font-family: "Lucida Grande", "Lucida Sans", Arial, Helvetica, sans-serif;
    color: #888;
}

#global-footer .site-category {
    float: left;
    width: 215px;
}

#global-footer .site-category h2 {
    margin-bottom: 1.75ex;
    color: #666;
    font-size: 1.2em;
    text-transform: uppercase;
}

#global-footer .site-category li {
    margin-bottom: 1.25ex;
    padding-right: 2em;
}

#site-categories, #global-share, #copyright {
    width: 956px;
    margin: 0 auto;
}

#copyright {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #BBB;
    text-align: center;
    line-height: 1.5;
}


/* =========== [ 7. RATING] =========== */

.rating {
    position: relative;
    display: block;
    background: url('/images/sprites/ratings.png') no-repeat 0px -1154px;
    width: 90px;
    height: 18px;
}

.rating-0-5, .rating-1, .rating-1-5, .rating-2, .rating-2-5, .rating-3, .rating-3-5, .rating-4, .rating-4-5, .rating-5 {
    display: block;
    text-indent: 101%;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    background: url('/images/sprites/ratings.png') no-repeat 0px -1290px;
    width: 90px;
    height: 18px;
}

.rating-0, .large-rating-0 {
    display: none !important;
}

.rating-0-5 {
    width: 9px !important;
}

.rating-1 {
    z-index: 5;
    width: 18px !important;
}

.rating-1-5 {
    width: 27px !important;
}

.rating-2 {
    z-index: 4;
    width: 36px !important;
}

.rating-2-5 {
    width: 45px !important;
}

.rating-3 {
    z-index: 3;
    width: 54px !important;
}

.rating-3-5 {
    width: 63px !important;
}

.rating-4 {
    z-index: 2;
    width: 72px !important;
}

.rating-4-5 {
    width: 81px !important;
}

.rating-5 {
    z-index: 1;
    width: 90px !important;
}

.rating .user {
    display: none;
}

/* =========== [ 8.RESULTS ] =========== */

#results .result, #catexp-results .result {
    border: 1px solid white;
    border-top-color: #ddd;
    clear: both;
    position: relative;
}

#results .result:first-child, #catexp-results .result:first-child {
    border-top-color: white;
}

#results .listing-content, #catexp-results .listing-content {
    padding: 15px 5px 5px 10px;
}

#results .rank, #catexp-results .rank {
    text-align: center;
    float: left;
    font-weight: bold;
    font-size: .917em;
    color: #222;
    width: 20px;
    margin: 0 5px 0 0;
}

#results .rank.pin, #catexp-results .rank.pin {
    background: url('/images/sprites/maps.png') no-repeat 0px -813px;
    width: 20px;
    height: 22px;
    padding-top: 3px;
    position: relative;
    top: -3px;
    text-align: center;
}

#results .info, #catexp-results .info {
    float: left;
    width: 363px;
    position: relative;
}

#results .info h3, #catexp-results .info h3 {
    font-size: 1em;
    margin-bottom: 3px;
    display: block;
}

#results .paid-listing .info h3, #results .partner-listing .info h3, #catexp-results .paid-listing .info h3, #catexp-results .partner-listing .info h3 {
    font-size: 1.167em;
}

#results .srp-business-name, #catexp-results .srp-business-name {
    width: 367px;
    word-wrap: break-word;
}

#results .paid-listing .info h3 a.url, #results .partner-listing .info h3 a.url, #catexp-results .paid-listing .info h3 a.url, #catexp-results .partner-listing .info h3 a.url {
    display: inline;
}

#results .thumbnail, #catexp-results .thumbnail {
    float: left;
    margin-right: .75em;
}

#results .listing-address, #catexp-results .listing-address {
    display: inline;
    margin-right: 5px;
    font-size: .917em;
}

#results .listing-address .street-address, #catexp-results .listing-address .street-address {
    padding-right: 0px;
}

#results .listing-address, #catexp-results .listing-address {
    font-size: .917em;
}

#results .listing-address, #catexp-results .listing-address {
    font-size: .917em;
}

#results .map-link, #catexp-results .map-link {
    font-weight: normal;
    margin-left: 5px;
    font-size: .833em;
    white-space: nowrap;
}

#results .map-link .raquo, #catexp-results .map-link .raquo {
    font-weight: bold;
}

#results .business-phone, #catexp-results .business-phone {
    display: block;
    font-weight: bold;
}

#results .additional-phones, #catexp-results .additional-phones {
    display: block;
    font-size: .917em;
    margin-top: 2px;
}

#results .result-rating, #catexp-results .result-rating, #sponsored-listings .result-rating {
    position: relative;
    float: right;
    width: 140px;
    margin: -3px 0.8em 0 0;
    text-align: right;
}

#results .result-rating .rating, #results .result-rating .review-count, #catexp-results .result-rating .rating, #catexp-results .result-rating .review-count, #sponsored-listings .result-rating .rating, #sponsored-listings .result-rating .review-count {
    display: inline-block;
}

#results .result-rating .rating, #catexp-results .result-rating .rating, #sponsored-listings .result-rating .rating {
    vertical-align: top;
}

#results .result-rating .review-count, #catexp-results .result-rating .review-count, #sponsored-listings .result-rating .review-count {
    line-height: 20px;
}

#results .result-rating a, #catexp-results .result-rating a, #sponsored-listings .result-rating a {
    font-weight: normal;
    display: inline-block;
}

#results .features, #catexp-results .features {
    margin-left: 25px;
    clear: left;
    padding-top: 3px;
    width: auto !important;
}

#results .features li, #catexp-results .features li {
    display: inline;
    color: #222;
    padding-right: 10px;
}

#results .what-where, #catexp-results .what-where {
    display: block;
    clear: left;
    width: 450px;
    padding-top: 5px;
    margin-left: 25px;
    color: #999;
    font-size: .833em;
}

#results .business-categories, #results .business-neighborhoods, #catexp-results .business-categories, #catexp-results .business-neighborhoods {
    display: inline;
}

#results .business-categories li, #results .business-neighborhoods li, #catexp-results .business-categories li, #catexp-results .business-neighborhoods li {
    display: inline;
}

#results .business-categories li a, #results .business-neighborhoods li a, #catexp-results .business-categories li a, #catexp-results .business-neighborhoods li a {
    font-weight: normal;
}

#results .listing-actions, #catexp-results .listing-actions {
    clear: both;
    height: 13px;
    padding: 5px 5px 4px 35px;
    text-align: right;
    font-size: .917em;
    background-color: #e3edf0;
    overflow: hidden;
}

#results .listing-actions, #catexp-results .listing-actions {
    text-align: right;
    font-size: .917em;
}

#results .listing-actions ul, #catexp-results .listing-actions ul {
    float: left;
}

#results .listing-actions li, #catexp-results .listing-actions li {
    display: inline;
}

#results .listing-actions a, #catexp-results .listing-actions a {
    font-weight: normal;
    white-space: nowrap;
}

#results .listing-actions li a, #catexp-results .listing-actions li a {
    padding-right: 10px;
}

#results .listing-feedback a, #results .inaccuracy a, #catexp-results .listing-feedback a, #catexp-results .inaccuracy a {
    padding: 0 10px 0 12px;
}

#results .inaccuracy a, #catexp-results .inaccuracy a {
    background-repeat: no-repeat;
    background-image: url('/images/sprites/shared.png');
    background-position: 0px -1780px;
}

.share-email, .share-mobile, .fb, .tw, .de, .su, .dg, .track-facebook, .track-twitter, .track-delicious, .track-stumbleupon, .track-digg {
    padding: 2px 0 1px 20px;
}

.fb, .track-facebook {
    background: url('/images/sprites/save-share.png') no-repeat 0px -198px;
    width: 15px;
    height: 15px;
    padding-left: 19px;
}

.share-email {
    background: url('/images/sprites/save-share.png') no-repeat 0px -132px;
    width: 16px;
    height: 16px;
}

.tw, .track-twitter {
    background: url('/images/sprites/save-share.png') no-repeat 0px -395px;
    width: 15px;
    height: 15px;
    padding-left: 17px;
}

.share-mobile {
    background-image: url('/images/sprites/save-share.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    background-position: 3px -263px;
}

#results .result:hover {
    border-color: #FCC099;
}


/* =========== [ 8. PAGINATION ] =========== */

.pagination, #paginator {
    min-height: 16px;
    margin: 0;
    padding: 6px 35px 6px 20px;
    background-color: #dcdcdc;
    border: 1px solid #d4d4d4;
    border-width: 1px 0;
}

.page-navigation, #paginator .pagination {
    float: left;
    max-width: 830px;
    color: black;
    font-size: .917em;
}

.page-navigation li, #paginator .pagination li {
    display: block;
    float: left;
}

.page-navigation a, .page-navigation span, #paginator .pagination a, #paginator .pagination span {
    display: block;
    border: 1px solid #ddd;
    padding: 1px 6px;
    margin: 0 1px;
    background-color: white;
}

.page-navigation .next a, .page-navigation .next_page, #paginator .pagination .next a, #paginator .pagination .next_page {
    margin-left: 10px;
}

.page-navigation .current, .page-navigation .disabled, #paginator .pagination .current, #paginator .pagination .disabled {
    color: #555;
    border: 0;
    padding: 2px 7px;
    background-color: transparent;
    cursor: default;
}

.page-navigation .current, #paginator .pagination .current {
    display: block;
}

.page-navigation .disabled, #paginator .pagination .disabled {
    display: none;
}

.result-totals, .pagination-count {
    float: right;
    text-align: right;
    font-size: .917em;
    color: black;
    padding: 2px 0;
}

.heading-orange {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: #ff7200;
    margin-bottom: 5px;
}


.ui-autocomplete {
    position:absolute;
    z-index:99999999!important;
    list-style-type:none;
    border:1px solid #666;
    text-align:left;
    background-color:#fff;
    width:294px!important;
    margin:0 0 0 -1px;
    padding:0 0 .75ex;
    font-size: 14px;
}

.ui-autocomplete li {
    font-family:Arial, Helvetica, sans-serif;
    border-bottom:1px solid #d4d4d4;
}

.ui-autocomplete li:last-of-type {
    border-bottom:none;
}

.ui-autocomplete a {
    display:block;
    border:1px solid #fff;
    color:#555;
    font-weight:400;
    padding:1ex 1em;
}

.ui-autocomplete a strong {
    color:#222;
    font-weight:700;
}

.ui-autocomplete a div,.ui-autocomplete a span {
    color:#a2a2a2;
    font-size:1.5ex;
}

.ui-autocomplete a div {
    margin-top:.8ex;
    overflow:hidden;
    white-space:nowrap;
    width:80%;
    text-overflow:ellipsis;
}

.ui-autocomplete a span {
    float:right;
    position:relative;
    top:-2ex;
}

.ui-autocomplete a span:after {
    content:" mi";
}

.ui-autocomplete a:hover,.ui-autocomplete a:active,.ui-autocomplete a.ui-state-hover,.ui-autocomplete li:hover a,.ui-autocomplete li:active a,.ui-autocomplete li.ui-state-hover a {
    cursor:pointer;
    background-color:#f2f8fb;
    border-color:#067ab4;
    padding:1ex 1em;
    text-decoration: none;
}

.ui-autocomplete-category {
    margin-bottom:1ex;
    border-bottom:1px dotted #555;
    color:#999;
    font-size: 14px;
    font-style:italic;
    background-color:#f7f7f7;
    padding:10px 14px;
}
