
/* =========== [ 2. HEADER NAVIGATION ] =========== */

.home_main #global-header {
    position: static;
}

.home_main .header-navigation {
    -webkit-box-shadow: 0 1px 1px #333;
    -moz-box-shadow: 0 1px 1px #333;
    -o-box-shadow: 0 1px 1px #333;
    -ms-box-shadow: 0 1px 1px #333;
    box-shadow: 0 1px 1px #333;
}

.home_main .header-panel {
    height: 86px;
    padding: 34px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* =========== [ 3. HEADER PANEL ] =========== */

.home_main .header-panel .panel {
    width: 820px;
    height: 66px;
    padding: 10px 0 10px 20px;
    background-repeat: no-repeat;
    background-image: url('/images/sprites/layout.png');
    background-position: 0px -896px;
}

.home_main .header-branding .yp-logo {
    background: url('/images/sprites/layout.png') no-repeat -8px -1096px;
    width: 64px;
    height: 61px;
}

.home_main .header-search {
    margin-top: 2.249ex;
}

/* =========== [ 4. SEARCH FORM ] =========== */

.home_main #search-submit {
    background: url('/images/sprites/layout.png') no-repeat 0px -732px;
    width: 87px;
    height: 34px;
}

.home_main .search-form label, .home_main .search-form input {
    font-size: 1.167em;
}

.home_main .search-form input[type=text] {
    width: 253px;
}

/* =========== [ 5. LAYOUT ] =========== */

.home_main #layout {
    padding-top: 2.9ex;
    -webkit-box-shadow: 0 -2px 2px #333;
    -moz-box-shadow: 0 -2px 2px #333;
    -o-box-shadow: 0 -2px 2px #333;
    -ms-box-shadow: 0 -2px 2px #333;
    box-shadow: 0 -2px 2px #333;
}

#canvas.home {
    margin-top: 0;
    padding: 0px;
    border: 0;
    background: none;
}

#top-nav a, #top-nav h1, #top-nav h2 {
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Tahoma,Geneva,Arial,sans-serif;
}

#top-nav .change-location {
    width: 338px;
}

#top-nav h2 {
    display: inline;
    float: none;
    margin: 0;
    font-size: 2em;
    color: #444;
}

.change-location {
    float: left;
    margin-top: 2ex;
    padding-left: 38px;
    background-repeat: no-repeat;
    background-image: url('/images/sprites/shared.png');
    background-position: 0px -764px;
}

/* =========== [ 6. POPULAR ] =========== */

.ugc-mashup {
    width: 991px;
    margin-top: 30px;
}

.ugc-title {
    position: relative;
    margin-bottom: 2em;
    border-bottom: 1px dashed #596069;
    font-size: 1.167em;
    line-height: 1.2;
    color: #fff;
}

.ugc-title span {
    position: relative;
    bottom: -1em;
    display: inline-block;
    background: #596069;
    padding: .4em 1.5em .5em;
    border-radius: 2em;
}

.ugc-listings {
    margin: 0 auto;
    border: 1px solid #CCC;
    background: #fff;
}

.ugc-listing {
    float: left;
    width: 246px;
    padding: 12px 0;
    border-left: 1px dotted #a7a7a7;
}

.ugc-listing:first-child {
    width: 246px;
    border-left: 0;
}

.ugc-listing a {
    font-weight: normal;
}

.ugc-listing h3, .ugc-listing .address, .ugc-listing .photo, .ugc-listing .reviews {
    padding: 0 18px;
}

.ugc-listing h3 {
    margin: 0;
    font-size: 1.167em;
}

.ugc-listing .heading {
    height: 30px;
}

.ugc-listing .address {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .917em;
    color: #999;
}

.ugc-listing .photo {
    margin-top: 5px;
    margin-bottom: 28px;
    width: 210px;
    height: 120px;
    position: relative;
}

.ugc-listing .photo img {
    max-width: 100%;
}

.ugc-listing .review {
    height: 60px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.user-avatar img {
    width: 44px;
    display: block;
}

.ugc-listing .text {
    float: left;
    width: 150px;
    font-size: .917em;
}

.ugc-listing .name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: .3em;
}

.ugc-listing .review-snippet {
    width: 150px;
    word-wrap: break-word;
}

.ugc-listing .review-snippet a {
    color: #555;
}

.ugc-listing .stars {
    background: #f2f5f7;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.ugc-listing .stars-container {
    position: relative;
    z-index: 2;
    padding: 8px 19px;
}

.ugc-listing .rate-it {
    float: left;
    margin-top: 2px;
    font-size: 1.167em;
    color: #333;
}

.ugc-listing .rating {
    float: right;
}

.ugc-listing .more-like-this {
    margin: 11px 19px 0 0;
    float: right;
}


/* =========== [ 6. PROMOS ] =========== */

.interest-based-ad {
    background: transparent;
    margin-top: 40px;
    padding: 0;
}

.interest-based-ad, .interest-based-ad div {
    height: 90px;
}

.interest-based-ad .small-promo {
    float: left;
    width: 250px;
    background-color: #ccdd28;
}

.interest-based-ad .leaderboard {
    float: right;
    width: 728px;
    background-color: #ddc065;
}