
/* =========== [ 1. LAYOUT ] =========== */

#canvas.search {
    padding: 12px 18px;
}

h1, .result-count {
    float: left;
}

h1 {
    color: #000;
    font-size: 1.5em;
}

.result-count {
    margin: .45em 0 0 1em;
    color: #000;
}

#canvas.search #left-column {
    width: 615px;
}

#canvas.search #right-column {
    width: 330px;
}

.results-column {
    position: relative;
}

.refinement-overlay {
    display: none;
    width: 613px;
    height: 100%;
    background: #fff url(/images/spinners/large.gif) center 30px no-repeat;
    z-index: 1005;
    position: absolute;
    top: 1px;
    left: 1px;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#sponsored-listings {
    position: relative;
    clear: left;
    margin: 0;
    padding: 18px 10px 10px;
    border: 1px solid #dfdfdf;
    border-bottom: 0;
}

#sponsored-listings h2 {
    font-size: .833em;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    position: absolute;
    top: 2px;
    right: 10px;
    color: #999;
}

#sponsored-listings .vcard {
    position: relative;
    display: block;
    clear: both;
    min-height: 45px;
    padding: 10px 0 10px 10px;
    border-top: 1px solid white;
    color: #555;
    background-color: #e3eaf3;
}

#sponsored-listings .vcard.first {
    border-top: 1px solid #e3eaf3;
}

#sponsored-listings .biz_graphic {
    float: right;
    text-align: right;
    margin-right: 10px;
}

#sponsored-listings .vcard.pll .biz_graphic, #sponsored-listings .vcard.platinum .biz_graphic, #sponsored-listings .vcard.gold .biz_graphic {
    width: 144px;
    height: 45px;
}

.search_results #sponsored-listings .platinum .biz_graphic, .search_results #sponsored-listings .platinum img.listing-ad-image, .search_results #sponsored-listings .gold .biz_graphic, .search_results #sponsored-listings .gold img.listing-ad-image, .search_results #sponsored-listings .pll .biz_graphic, .search_results #sponsored-listings .pll img.listing-ad-image {
    width: 144px;
    height: 35px;
}

#sponsored-listings .biz_graphic a {
    display: block;
}

span.mapped {
    display: block;
    float: left;
    background: url('/images/sprites/maps.png') no-repeat 0px -885px;
    width: 14px;
    height: 15px;
    overflow: hidden;
    text-indent: -3000em;
    margin: 1px 5px 0 0;
}

#sponsored-listings h3.title {
    font-size: 1.167em;
    display: inline;
}

#sponsored-listings br {
    line-height: 3px;
}

#sponsored-listings span.listing-address {
    font-size: .917em;
    margin-right: 5px;
}

#sponsored-listings span.listing-address span.street-address {
    padding-right: 0px;
}

#sponsored-listings span.phone {
    color: #555;
    font-weight: bold;
}

#sponsored-listings ul.features {
    font-size: .917em;
    display: block;
    width: 418px;
    clear: left;
    padding: 3px 0 0 0;
}

#sponsored-listings ul.features li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
}

#sponsored-listings ul.features a {
    font-weight: normal;
    margin-right: 10px;
}

#search-results, #catexp-results {
    position: relative;
    clear: left;
    width: 613px;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #dfdfdf;
}

#results {
    margin: 0;
}

#results .info {
    width: 420px;
}

#related-searches {
    border-top: 1px solid #ddd;
    padding: 15px 10px 20px;
}

#related-searches h2 {
    margin-bottom: 1ex;
    font-size: 1.083em;
    font-weight: normal;
}


#related-searches h2 {
    font-size: 1.083em;
    font-weight: normal;
}

#related-searches h2 .heading-orange {
    font-size: 1.4em;
}

#related-searches h2 .related-params {
    font-size: .85em;
}

#related-searches h2 .search-terms, #related-searches h2 .search-geo {
    font-weight: bold;
}

#related-searches ul {
    float: left;
    width: 33%;
}

#related-searches li {
    font-size: 1.083em;
    margin-bottom: .25ex;
    padding-right: 1em;
}

#related-searches a {
    font-weight: normal;
}

#related-searches a .matched-terms, #related-searches a .matched-geo {
    font-weight: bold;
}

p.add-listing {
    padding: 10px 25px;
    border-top: 1px solid #dfdfdf;
}

p.add-listing a {
    font-weight: bold;
}

#right-column .featured {
    margin-top: 10px;
}

#right-column .featured h2 {
    font-size: 1.167em;
    padding-left: 10px;
    margin-bottom: 3px;
}

.sb-group {
    margin-bottom: 5px;
    padding: 10px 0;
}

ul.tile li, ul.tile_bundle li, ul.diamond li {
    border-top: 1px solid #f1f5fa;
}

ul.tile li.first, ul.tile_bundle li.first, ul.diamond li.first {
    border-top: 0;
}

ul.platinum .vcard, ul.silver .vcard, ul.gold .vcard, ul.bronze .vcard, ul.pll .vcard, ul.diamond .vcard {
    background: #f1f5fa url(/images/gradients/serp-well-platinum.gif) bottom left repeat-x;
}

.sb-group .vcard {
    display: block;
    margin: 1px 0;
    clear: both;
    width: 310px;
    position: relative;
    z-index: 1;
    padding: 10px;
}

ul.tile div.business-info, ul.tile_bundle div.business-info, ul.diamond div.business-info {
    float: right;
    width: 220px;
}

.sb-group h3.business-title {
    font-size: 1.167em;
    display: block;
    margin-bottom: 1px;
}

.sb-group span.listing-address {
    font-size: .917em;
    display: block;
}

.sb-group span.listing-address {
    font-size: .917em;
}

.sb-group span.phone {
    font-weight: bold;
    margin-right: 10px;
    display: block;
}

.sb-group .biz_graphic {
    width: 0px;
    margin: 0;
    position: relative;
    z-index: 2;
}

ul.tile .biz_graphic, ul.tile_bundle .biz_graphic, ul.diamond .biz_graphic {
    float: left;
    width: 78px;
    height: 40px;
    margin: 0 10px 0 0;
    position: relative;
}

.sb-group ul.features {
    clear: both;
    margin-top: 5px;
    width: 310px;
}

ul.tile ul.features, ul.tile_bundle ul.features, ul.diamond ul.features {
    padding-top: 5px;
}

ul.tile li, ul.tile_bundle li, ul.diamond li {
    border-top: 1px solid #f1f5fa;
}

.sb-group ul.features li {
    display: inline;
    font-size: .917em;
    padding: 0 5px 0 0;
    margin: 0;
    width: auto;
    background: none !important;
}

ul.tile ul.features li, ul.tile_bundle ul.features li, ul.diamond ul.features li {
    border: 0;
}

.sb-group ul.features li a {
    display: inline-block;
    font-weight: normal;
}

.sb-group span.description {
    display: block;
    font-size: .917em;
    margin: 5px 0;
    float: left;
}

ul.silver span.description {
    clear: both;
    width: 300px;
}

.filter-toggle {
    float: left;
    position: relative;
    z-index: 901;
    bottom: -1px;
    line-height: 1;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: .4em 10px;
    border: 1px solid #bbb;
    background: #f8f8f8;
    border-radius: 3px;
}


.filter-toggle .arrow-closed, .filter-toggle .arrow-opened {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-right: 3px;
    overflow: hidden;
    border: 4px solid #f8f8f8;
}

.filter-toggle .arrow-closed {
    vertical-align: -1px;
    border-top-color: #067ab4;
}
